################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CubeProject_IT22205056_/.vs/CubeProject_IT22205056_/FileContentIndex
